<p>
  <mat-toolbar color="primary">


    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a href=""class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"><button mat-menu-item>Home</button></a>
      <a href="login"class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"><button mat-menu-item>Login</button></a>
      
      <button mat-menu-item>Promoções</button>
      <button mat-menu-item>Carrinho</button>
      
    </mat-menu>

    <span class="example-spacer"></span>
    
    <span>Angular Projeto</span>
 
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>

  

  </mat-toolbar>
</p>

